
.dark-1 {
  background-color: rgba(34, 30, 31, 0.70);
  color: white;
}

.dark-2 {
  background-color: #2F2F2F;
  color: white;
}

.dark-2-co {
  color: #2F2F2F;
}

.dark-3 {
  background-color: #3F3E3E;
  color: white;
}

.light-grey {
  background-color: #d7d7d7;
  color: black;
}

.vivid {
  background-color: #E93E70;
}

.light {
  background-color: #FFDE17;
}

.light-co {
  color: #FFDE17 !important;
}

.app-color-white-1 {
  color: white;
}

.app-color-white-1:hover {
  color: #FFDE17;
}

.app-color-1-bg {
  background-color: #009B9C;
  color: white;
}

.app-color-1-co {
  color: #009B9C;
}

.app-color-1-br {
  border-color: #009B9C !important;
}

.app-color-2-bg {
  background-color: #339470;
  color: white;
}

.app-color-2-co {
  color: #339470;
}

.app-color-2-br {
  border-color: #339470 !important;
}
