#app {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.anouncement {
  font-family: 'Open Sans', sans-serif;
  /*font-family: 'Roboto Slab', serif;*/
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.header-container {
  /*background: linear-gradient(45deg, #FFDE17, #339470, #339470);*/
  background: url('./../assets/header-bar.png');
  background-size: 100% 100%;
  min-height: 75px;
  color: white;
  font-size: 18px;
}

.header-container .bg-img {
  position: absolute;
  height: 75px;
  width: 100%;
  z-index: -1;
}

.logo {
  margin-top: 18px;
  height: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.app-button {
  background-color: #009B9C;
  border-radius: 3px;
}

.app-button:hover {
  background-color: #339470 !important;
}

.app-button-light {
  background-color: #dbdbdb;
  color: black;
  border-radius: 3px;
}

.app-button-danger {
  background-color: #9c0000;
  border-radius: 3px;
}

.rounded-input {
  width: 100%;
  padding: 6px 16px;
  border-radius: 3px;
  border-width: 2px;
  border-style: solid;
}

.bordered-text {
  border-radius: 16px;
}

.app-select {
  border-radius: 16px;
  border-width: 0px;
  padding: 4px 16px;
  color: white;
}

.app-select-input {
  width: 100%;
  border-radius: 16px;
  border-width: 2px;
  padding: 6px 16px;
  color: white;
}

.content-title-div {
  padding-top: 4px;
  padding-left: 5vw;
}

.margin-0-auto {
  margin: 0 auto;
}

.content-container {
  min-height: calc(100vh - 75px);
  padding-top: 10vh;
}

.central-column-container {
  margin: 0 auto;
  max-width: 780px;
  padding: 0px 32px 10vh 32px;
}

.column-header {
  margin-bottom: 6vh;
}

.bottom-row {
  margin-top: 10vh;
}

.back-button-in-column {
  position: absolute;
  margin-left: -100px;
}

.disp-block {
  display: block;
}

.app-card-container {
  display: inline-block;
  margin-bottom: 10vh;
  vertical-align: top;
}

@media screen and (min-width: 992px) {
  .app-card-container {
    width: calc(23.33%);
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 991px) and (min-width: 602px) {
  .app-card-container {
    width: calc(40%);
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 601px) {
  .app-card-container {
    width: calc(90%);
    margin-left: 5%;
    margin-right: 5%;
  }
}

.app-card {
  padding: 24px 18px 12px 18px;
  min-height: 200px;
  background-color: rgba(255, 255, 255, 0.80);
  border-radius: 16px;
  color: #2F2F2F;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.marked-text {
  word-wrap: break-word;
}
