#app {
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Roboto Slab', serif;*/
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.anouncement {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

.app-button {
  background-color: #009B9C;
  border-radius: 16px;
}

.app-button:hover {
  background-color: #339470 !important;
}

.app-button-light {
  background-color: #dbdbdb;
  color: black;
  border-radius: 16px;
}

.app-button-danger {
  background-color: #9c0000;
  border-radius: 16px;
}

.rounded-input {
  width: 100%;
  padding: 6px 16px;
  border-radius: 16px;
  border-width: 2px;
  border-style: solid;
}

.bordered-text {
  border-radius: 16px;
}

.app-select {
  border-radius: 16px;
  border-width: 0px;
  padding: 4px 16px;
  color: white;
}

.app-select-input {
  width: 100%;
  border-radius: 16px;
  border-width: 2px;
  padding: 6px 16px;
  color: white;
}

.content-title-div {
  padding-top: 4px;
}

.margin-0-auto {
  margin: 0 auto;
}

.content-container {
  min-height: calc(100vh - 70px);
  padding-top: 35px;
}

.central-column-container {
  margin: 0 auto;
  max-width: 780px;
  padding: 28px 32px;
  margin-bottom: 50px;
}

.back-button-in-column {
  position: absolute;
  margin-left: -100px;
}

.disp-block {
  display: block;
}

.app-card {
  padding: 12px 18px;
  background-color: white;
  border-radius: 16px;
  color: #2F2F2F;
  display: block;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
